html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1195px;
  margin: 0 auto;
}
header {
  background-color: #6e78b7;
  padding: 55px 0;
}

header .menu {
  display: flex;
  justify-content: space-around;
}

header .menu a {
  width: 260px;
  background: #d86a43;
  text-align: center;
  padding: 17px 0;
  border-radius: 8px;
  cursor: pointer;
  color: #fefcfc;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px -1px #000;
}
header .menu a:hover {
  box-shadow: none;
  background: #e44d26;
}
