html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1195px;
  margin: 0 auto;
}
header {
  background-color: #6e78b7;
  padding: 55px 0;
}

header .menu {
  display: flex;
  justify-content: space-around;
}

header .menu a {
  width: 260px;
  background: #d86a43;
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  color: #fefcfc;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 10px -1px #000;
}
header .menu a:hover {
  box-shadow: none;
  background: #e44d26;
}

main {
  background: #deeafb;
  padding: 55px 0 80px;
}
.technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology img {
  width: 360px;
  height: 200px;
}
.technology .arrow {
  width: 41px;
  height: 22px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.gallery img {
  width: 360px;
  height: 230px;
}

.news article {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px 25px 15px 7px;
  margin-bottom: 40px;
}
.news article img {
  width: 340px;
  height: 225px;
  margin-right: 55px;
}
.news article {
  color: #511a99;
  font-size: 16px;
}
.news article .description {
  width: 760px;
}
.news article:nth-child(even) img {
  order: 1;
  margin-right: 0;
  margin-left: 55px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards .card {
  width: 400px;
  min-height: 425px;
  background: #6e78b7;
  color: #fefcfc;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.cards .card h3 {
  background: #d86a43;
  margin: 0;
  padding: 25px 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.cards .card .description {
  padding: 35px 40px 0 40px;
}
.cards .card .description p {
  margin: 0;
  line-height: 1.5;
}
.cards .card .btn {
  width: 260px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #d86a43;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  display: block;
  margin: auto auto 0;
  padding: 14px 0;
  box-shadow: 0 0 10px -1px #000;
  margin-top: 15px;
}
.cards .card .btn:hover {
  box-shadow: none;
  background: #e44d26;
}

footer {
  background: #6e78b7;
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 110px 0 105px;
  color: #fff;
}
footer p {
  margin: 0;
}
